# HW

Мои Фамилия Имя: Белы Иван

In [1]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [2]:
df_titanic = pd.read_csv('titanic.csv')

In [3]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
a = set()
for i in df_titanic.Embarked:
    a.add(i)
a

{'C', 'Q', 'S', nan}

In [6]:
df_titanic.shape

(891, 12)

In [7]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [8]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [9]:
columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked']

In [10]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]
simple_test = simple_test.reset_index(drop = True)

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [11]:
simple_train.Age = simple_train.Age.fillna(np.mean(simple_train.Age))
simple_test.Age = simple_test.Age.fillna(np.mean(simple_test.Age))

# можно inplace делать такое, а можно переприсваивать.

In [12]:
simple_train.Cabin = simple_train.Cabin.fillna('H')
simple_test.Cabin = simple_test.Cabin.fillna('H')

In [13]:
simple_train.Embarked = simple_train.Embarked.fillna('A')
simple_test.Embarked = simple_test.Embarked.fillna('A')

In [14]:
simple_train

        Sex        Age  Pclass  Survived        Cabin      Fare Embarked
0      male  22.000000       3         0            H    7.2500        S
1    female  38.000000       1         1          C85   71.2833        C
2    female  26.000000       3         1            H    7.9250        S
3    female  35.000000       1         1         C123   53.1000        S
4      male  35.000000       3         0            H    8.0500        S
5      male  29.174185       3         0            H    8.4583        Q
6      male  54.000000       1         0          E46   51.8625        S
7      male   2.000000       3         0            H   21.0750        S
8    female  27.000000       3         1            H   11.1333        S
9    female  14.000000       2         1            H   30.0708        C
10   female   4.000000       3         1           G6   16.7000        S
11   female  58.000000       1         1         C103   26.5500        S
12     male  20.000000       3         0            H    8.0500        S
13     male  39.000000       3         0            H   31.2750        S
14   female  14.000000       3         0            H    7.8542        S
15   female  55.000000       2         1            H   16.0000        S
16     male   2.000000       3         0            H   29.1250        Q
17     male  29.174185       2         1            H   13.0000        S
18   female  31.000000       3         0            H   18.0000        S
19   female  29.174185       3         1            H    7.2250        C
20     male  35.000000       2         0            H   26.0000        S
21     male  34.000000       2         1          D56   13.0000        S
22   female  15.000000       3         1            H    8.0292        Q
23     male  28.000000       1         1           A6   35.5000        S
24   female   8.000000       3         0            H   21.0750        S
25   female  38.000000       3         1            H   31.3875        S
26     male  29.174185       3         0            H    7.2250        C
27     male  19.000000       1         0  C23 C25 C27  263.0000        S
28   female  29.174185       3         1            H    7.8792        Q
29     male  29.174185       3         0            H    7.8958        S
..      ...        ...     ...       ...          ...       ...      ...
471    male  38.000000       3         0            H    8.6625        S
472  female  33.000000       2         1            H   27.7500        S
473  female  23.000000       2         1            D   13.7917        C
474  female  22.000000       3         0            H    9.8375        S
475    male  29.174185       1         0          A14   52.0000        S
476    male  34.000000       2         0            H   21.0000        S
477    male  29.000000       3         0            H    7.0458        S
478    male  22.000000       3         0            H    7.5208        S
479  female   2.000000       3         1            H   12.2875        S
480    male   9.000000       3         0            H   46.9000        S
481    male  29.174185       2         0            H    0.0000        S
482    male  50.000000       3         0            H    8.0500        S
483  female  63.000000       3         1            H    9.5875        S
484    male  25.000000       1         1          B49   91.0792        C
485  female  29.174185       3         0            H   25.4667        S
486  female  35.000000       1         1          C93   90.0000        S
487    male  58.000000       1         0          B37   29.7000        C
488    male  30.000000       3         0            H    8.0500        S
489    male   9.000000       3         1            H   15.9000        S
490    male  29.174185       3         0            H   19.9667        S
491    male  21.000000       3         0            H    7.2500        S
492    male  55.000000       1         0          C30   30.5000        S
493    male  71.000000       1         0            H   49.5042        C
494    male  21.000000       3         0            H    8.0500        S
495    male  29.174185       3         0            H   14.4583        C
496  female  54.000000       1         1          D20   78.2667        C
497    male  29.174185       3         0            H   15.1000        S
498  female  25.000000       1         0      C22 C26  151.5500        S
499    male  24.000000       3         0            H    7.7958        S
500    male  17.000000       3         0            H    8.6625        S

[501 rows x 7 columns]

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [15]:
simple_train.Embarked = simple_train.Embarked.apply(lambda x: ord(x))
simple_test.Embarked = simple_test.Embarked.apply(lambda x: ord(x))
simple_test

        Sex        Age  Pclass  Survived        Cabin      Fare  Embarked
0      male  17.000000       3         0            H    8.6625        83
1    female  21.000000       3         0            H    7.7500        81
2    female  30.321741       3         0            H    7.6292        81
3    female  37.000000       3         0            H    9.5875        83
4    female  16.000000       1         1          B79   86.5000        83
5      male  18.000000       1         0          C65  108.9000        67
6    female  33.000000       2         1            H   26.0000        83
7      male  30.321741       1         1            H   26.5500        83
8      male  28.000000       3         0            H   22.5250        83
9      male  26.000000       3         1            H   56.4958        83
10     male  29.000000       3         1            H    7.7500        81
11     male  30.321741       3         0            H    8.0500        83
12     male  36.000000       1         1          E25   26.2875        83
13   female  54.000000       1         1            H   59.4000        67
14     male  24.000000       3         0            H    7.4958        83
15     male  47.000000       1         0          D46   34.0208        83
16   female  34.000000       2         1          F33   10.5000        83
17     male  30.321741       3         0            H   24.1500        81
18   female  36.000000       2         1            H   26.0000        83
19     male  32.000000       3         0            H    7.8958        83
20   female  30.000000       1         1          B73   93.5000        83
21     male  22.000000       3         0            H    7.8958        83
22     male  30.321741       3         0            H    7.2250        67
23   female  44.000000       1         1          B18   57.9792        67
24     male  30.321741       3         0            H    7.2292        67
25     male  40.500000       3         0            H    7.7500        81
26   female  50.000000       2         1            H   10.5000        83
27     male  30.321741       1         0          C95  221.7792        83
28     male  39.000000       3         0            H    7.9250        83
29     male  23.000000       2         0            H   11.5000        83
..      ...        ...     ...       ...          ...       ...       ...
361    male  21.000000       2         0            H   11.5000        83
362  female  48.000000       1         1          D17   25.9292        83
363  female  30.321741       3         0            H   69.5500        83
364    male  24.000000       2         0            H   13.0000        83
365  female  42.000000       2         1            H   13.0000        83
366  female  27.000000       2         1            H   13.8583        67
367    male  31.000000       1         0          A24   50.4958        83
368    male  30.321741       3         0            H    9.5000        83
369    male   4.000000       3         1            H   11.1333        83
370    male  26.000000       3         0            H    7.8958        83
371  female  47.000000       1         1          D35   52.5542        83
372    male  33.000000       1         0  B51 B53 B55    5.0000        83
373    male  47.000000       3         0            H    9.0000        83
374  female  28.000000       2         1            H   24.0000        67
375  female  15.000000       3         1            H    7.2250        67
376    male  20.000000       3         0            H    9.8458        83
377    male  19.000000       3         0            H    7.8958        83
378    male  30.321741       3         0            H    7.8958        83
379  female  56.000000       1         1          C50   83.1583        67
380  female  25.000000       2         1            H   26.0000        83
381    male  33.000000       3         0            H    7.8958        83
382  female  22.000000       3         0            H   10.5167        83
383    male  28.000000       2         0            H   10.5000        83
384    male  25.000000       3         0            H    7.0500        83
385  female  39.000000       3         0            H   29.1250        81
386    male  27.000000       2         0            H   13.0000        83
387  female  19.000000       1         1          B42   30.0000        83
388  female  30.321741       3         0            H   23.4500        83
389    male  26.000000       1         1         C148   30.0000        67
390    male  32.000000       3         0            H    7.7500        81

[391 rows x 7 columns]

In [16]:
simple_train.Cabin = simple_train.Cabin.apply(lambda x: ord(x[0]))
simple_test.Cabin = simple_test.Cabin.apply(lambda x: ord(x[0]))
simple_test

        Sex        Age  Pclass  Survived  Cabin      Fare  Embarked
0      male  17.000000       3         0     72    8.6625        83
1    female  21.000000       3         0     72    7.7500        81
2    female  30.321741       3         0     72    7.6292        81
3    female  37.000000       3         0     72    9.5875        83
4    female  16.000000       1         1     66   86.5000        83
5      male  18.000000       1         0     67  108.9000        67
6    female  33.000000       2         1     72   26.0000        83
7      male  30.321741       1         1     72   26.5500        83
8      male  28.000000       3         0     72   22.5250        83
9      male  26.000000       3         1     72   56.4958        83
10     male  29.000000       3         1     72    7.7500        81
11     male  30.321741       3         0     72    8.0500        83
12     male  36.000000       1         1     69   26.2875        83
13   female  54.000000       1         1     72   59.4000        67
14     male  24.000000       3         0     72    7.4958        83
15     male  47.000000       1         0     68   34.0208        83
16   female  34.000000       2         1     70   10.5000        83
17     male  30.321741       3         0     72   24.1500        81
18   female  36.000000       2         1     72   26.0000        83
19     male  32.000000       3         0     72    7.8958        83
20   female  30.000000       1         1     66   93.5000        83
21     male  22.000000       3         0     72    7.8958        83
22     male  30.321741       3         0     72    7.2250        67
23   female  44.000000       1         1     66   57.9792        67
24     male  30.321741       3         0     72    7.2292        67
25     male  40.500000       3         0     72    7.7500        81
26   female  50.000000       2         1     72   10.5000        83
27     male  30.321741       1         0     67  221.7792        83
28     male  39.000000       3         0     72    7.9250        83
29     male  23.000000       2         0     72   11.5000        83
..      ...        ...     ...       ...    ...       ...       ...
361    male  21.000000       2         0     72   11.5000        83
362  female  48.000000       1         1     68   25.9292        83
363  female  30.321741       3         0     72   69.5500        83
364    male  24.000000       2         0     72   13.0000        83
365  female  42.000000       2         1     72   13.0000        83
366  female  27.000000       2         1     72   13.8583        67
367    male  31.000000       1         0     65   50.4958        83
368    male  30.321741       3         0     72    9.5000        83
369    male   4.000000       3         1     72   11.1333        83
370    male  26.000000       3         0     72    7.8958        83
371  female  47.000000       1         1     68   52.5542        83
372    male  33.000000       1         0     66    5.0000        83
373    male  47.000000       3         0     72    9.0000        83
374  female  28.000000       2         1     72   24.0000        67
375  female  15.000000       3         1     72    7.2250        67
376    male  20.000000       3         0     72    9.8458        83
377    male  19.000000       3         0     72    7.8958        83
378    male  30.321741       3         0     72    7.8958        83
379  female  56.000000       1         1     67   83.1583        67
380  female  25.000000       2         1     72   26.0000        83
381    male  33.000000       3         0     72    7.8958        83
382  female  22.000000       3         0     72   10.5167        83
383    male  28.000000       2         0     72   10.5000        83
384    male  25.000000       3         0     72    7.0500        83
385  female  39.000000       3         0     72   29.1250        81
386    male  27.000000       2         0     72   13.0000        83
387  female  19.000000       1         1     66   30.0000        83
388  female  30.321741       3         0     72   23.4500        83
389    male  26.000000       1         1     67   30.0000        67
390    male  32.000000       3         0     72    7.7500        81

[391 rows x 7 columns]

In [17]:
simple_train.Sex = simple_train.Sex.apply(lambda x: 1 if x == 'male' else 0)
simple_test.Sex = simple_test.Sex.apply(lambda x: 1 if x == 'male' else 0)
simple_test

     Sex        Age  Pclass  Survived  Cabin      Fare  Embarked
0      1  17.000000       3         0     72    8.6625        83
1      0  21.000000       3         0     72    7.7500        81
2      0  30.321741       3         0     72    7.6292        81
3      0  37.000000       3         0     72    9.5875        83
4      0  16.000000       1         1     66   86.5000        83
5      1  18.000000       1         0     67  108.9000        67
6      0  33.000000       2         1     72   26.0000        83
7      1  30.321741       1         1     72   26.5500        83
8      1  28.000000       3         0     72   22.5250        83
9      1  26.000000       3         1     72   56.4958        83
10     1  29.000000       3         1     72    7.7500        81
11     1  30.321741       3         0     72    8.0500        83
12     1  36.000000       1         1     69   26.2875        83
13     0  54.000000       1         1     72   59.4000        67
14     1  24.000000       3         0     72    7.4958        83
15     1  47.000000       1         0     68   34.0208        83
16     0  34.000000       2         1     70   10.5000        83
17     1  30.321741       3         0     72   24.1500        81
18     0  36.000000       2         1     72   26.0000        83
19     1  32.000000       3         0     72    7.8958        83
20     0  30.000000       1         1     66   93.5000        83
21     1  22.000000       3         0     72    7.8958        83
22     1  30.321741       3         0     72    7.2250        67
23     0  44.000000       1         1     66   57.9792        67
24     1  30.321741       3         0     72    7.2292        67
25     1  40.500000       3         0     72    7.7500        81
26     0  50.000000       2         1     72   10.5000        83
27     1  30.321741       1         0     67  221.7792        83
28     1  39.000000       3         0     72    7.9250        83
29     1  23.000000       2         0     72   11.5000        83
..   ...        ...     ...       ...    ...       ...       ...
361    1  21.000000       2         0     72   11.5000        83
362    0  48.000000       1         1     68   25.9292        83
363    0  30.321741       3         0     72   69.5500        83
364    1  24.000000       2         0     72   13.0000        83
365    0  42.000000       2         1     72   13.0000        83
366    0  27.000000       2         1     72   13.8583        67
367    1  31.000000       1         0     65   50.4958        83
368    1  30.321741       3         0     72    9.5000        83
369    1   4.000000       3         1     72   11.1333        83
370    1  26.000000       3         0     72    7.8958        83
371    0  47.000000       1         1     68   52.5542        83
372    1  33.000000       1         0     66    5.0000        83
373    1  47.000000       3         0     72    9.0000        83
374    0  28.000000       2         1     72   24.0000        67
375    0  15.000000       3         1     72    7.2250        67
376    1  20.000000       3         0     72    9.8458        83
377    1  19.000000       3         0     72    7.8958        83
378    1  30.321741       3         0     72    7.8958        83
379    0  56.000000       1         1     67   83.1583        67
380    0  25.000000       2         1     72   26.0000        83
381    1  33.000000       3         0     72    7.8958        83
382    0  22.000000       3         0     72   10.5167        83
383    1  28.000000       2         0     72   10.5000        83
384    1  25.000000       3         0     72    7.0500        83
385    0  39.000000       3         0     72   29.1250        81
386    1  27.000000       2         0     72   13.0000        83
387    0  19.000000       1         1     66   30.0000        83
388    0  30.321741       3         0     72   23.4500        83
389    1  26.000000       1         1     67   30.0000        67
390    1  32.000000       3         0     72    7.7500        81

[391 rows x 7 columns]

In [18]:
max_ = simple_train.max(axis=0)
min_ = simple_train.min(axis=0)
simple_train = (simple_train - min_) / (max_ - min_)

max_ = simple_test.max(axis=0)
min_ = simple_test.min(axis=0)
simple_test = (simple_test - min_) / (max_ - min_)

In [19]:
simple_train

     Sex       Age  Pclass  Survived     Cabin      Fare  Embarked
0    1.0  0.302491     1.0       0.0  0.368421  0.014151  1.000000
1    0.0  0.530249     0.0       1.0  0.105263  0.139136  0.111111
2    0.0  0.359431     1.0       1.0  0.368421  0.015469  1.000000
3    0.0  0.487544     0.0       1.0  0.105263  0.103644  1.000000
4    1.0  0.487544     1.0       0.0  0.368421  0.015713  1.000000
5    1.0  0.404615     1.0       0.0  0.368421  0.016510  0.888889
6    1.0  0.758007     0.0       0.0  0.210526  0.101229  1.000000
7    1.0  0.017794     1.0       0.0  0.368421  0.041136  1.000000
8    0.0  0.373665     1.0       1.0  0.368421  0.021731  1.000000
9    0.0  0.188612     0.5       1.0  0.368421  0.058694  0.111111
10   0.0  0.046263     1.0       1.0  0.315789  0.032596  1.000000
11   0.0  0.814947     0.0       1.0  0.105263  0.051822  1.000000
12   1.0  0.274021     1.0       0.0  0.368421  0.015713  1.000000
13   1.0  0.544484     1.0       0.0  0.368421  0.061045  1.000000
14   0.0  0.188612     1.0       0.0  0.368421  0.015330  1.000000
15   0.0  0.772242     0.5       1.0  0.368421  0.031230  1.000000
16   1.0  0.017794     1.0       0.0  0.368421  0.056848  0.888889
17   1.0  0.404615     0.5       1.0  0.368421  0.025374  1.000000
18   0.0  0.430605     1.0       0.0  0.368421  0.035134  1.000000
19   0.0  0.404615     1.0       1.0  0.368421  0.014102  0.111111
20   1.0  0.487544     0.5       0.0  0.368421  0.050749  1.000000
21   1.0  0.473310     0.5       1.0  0.157895  0.025374  1.000000
22   0.0  0.202847     1.0       1.0  0.368421  0.015672  0.888889
23   1.0  0.387900     0.0       1.0  0.000000  0.069291  1.000000
24   0.0  0.103203     1.0       0.0  0.368421  0.041136  1.000000
25   0.0  0.530249     1.0       1.0  0.368421  0.061264  1.000000
26   1.0  0.404615     1.0       0.0  0.368421  0.014102  0.111111
27   1.0  0.259786     0.0       0.0  0.105263  0.513342  1.000000
28   0.0  0.404615     1.0       1.0  0.368421  0.015379  0.888889
29   1.0  0.404615     1.0       0.0  0.368421  0.015412  1.000000
..   ...       ...     ...       ...       ...       ...       ...
471  1.0  0.530249     1.0       0.0  0.368421  0.016908  1.000000
472  0.0  0.459075     0.5       1.0  0.368421  0.054164  1.000000
473  0.0  0.316726     0.5       1.0  0.157895  0.026920  0.111111
474  0.0  0.302491     1.0       0.0  0.368421  0.019202  1.000000
475  1.0  0.404615     0.0       0.0  0.000000  0.101497  1.000000
476  1.0  0.473310     0.5       0.0  0.368421  0.040989  1.000000
477  1.0  0.402135     1.0       0.0  0.368421  0.013752  1.000000
478  1.0  0.302491     1.0       0.0  0.368421  0.014680  1.000000
479  0.0  0.017794     1.0       1.0  0.368421  0.023984  1.000000
480  1.0  0.117438     1.0       0.0  0.368421  0.091543  1.000000
481  1.0  0.404615     0.5       0.0  0.368421  0.000000  1.000000
482  1.0  0.701068     1.0       0.0  0.368421  0.015713  1.000000
483  0.0  0.886121     1.0       1.0  0.368421  0.018714  1.000000
484  1.0  0.345196     0.0       1.0  0.052632  0.177775  0.111111
485  0.0  0.404615     1.0       0.0  0.368421  0.049708  1.000000
486  0.0  0.487544     0.0       1.0  0.105263  0.175668  1.000000
487  1.0  0.814947     0.0       0.0  0.052632  0.057971  0.111111
488  1.0  0.416370     1.0       0.0  0.368421  0.015713  1.000000
489  1.0  0.117438     1.0       1.0  0.368421  0.031035  1.000000
490  1.0  0.404615     1.0       0.0  0.368421  0.038972  1.000000
491  1.0  0.288256     1.0       0.0  0.368421  0.014151  1.000000
492  1.0  0.772242     0.0       0.0  0.105263  0.059532  1.000000
493  1.0  1.000000     0.0       0.0  0.368421  0.096626  0.111111
494  1.0  0.288256     1.0       0.0  0.368421  0.015713  1.000000
495  1.0  0.404615     1.0       0.0  0.368421  0.028221  0.111111
496  0.0  0.758007     0.0       1.0  0.157895  0.152766  0.111111
497  1.0  0.404615     1.0       0.0  0.368421  0.029473  1.000000
498  0.0  0.345196     0.0       0.0  0.105263  0.295806  1.000000
499  1.0  0.330961     1.0       0.0  0.368421  0.015216  1.000000
500  1.0  0.231317     1.0       0.0  0.368421  0.016908  1.000000

[501 rows x 7 columns]

Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [20]:
X_train = simple_train.drop(columns='Survived').values
X_test = simple_test.drop(columns='Survived').values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values

In [21]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [22]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [23]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [24]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for point in X:
            dist = 0.
            for h, w in enumerate(point):
                dist += (self.X[:, h] - w)**2
            dist = np.sqrt(dist)
            
            idx = np.argsort(dist)[:self.n]
            
            counts = np.bincount(self.y[idx].astype(int))
            
            prediction = np.argmax(counts)
            y_hat.append(prediction)
            
        return np.array(y_hat)

In [25]:
knn = KNN(22)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [26]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.8081841432225064

In [27]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [28]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8081841432225064

In [29]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.7621483375959079

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!