In [1]:
import pandas as pd

In [58]:
columns = ['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education_num', 'Marital_status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Capital_gain', 'Capital_loss', 'Hours_per_week', 'Native_country', 'Param']
dfTrades = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', ', ', header = None)
dfTrades.columns = columns
dfTrades

/Users/IvanBelykh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,Age,Workclass,Fnlwgt,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country,Param
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
1

In [77]:
count_m = dfTrades.loc[ (dfTrades.Sex == 'Male')].Race.count()
count_f = dfTrades.shape[0] - count_m
data = []
data.append({'Male': count_m, 'Female': count_f})
df = pd.DataFrame(data)
df

   Female   Male
0   10771  21790

In [ ]:
2

In [80]:
dfTrades.loc[(dfTrades.Sex == 'Male')].Age.mean()

39.43354749885268

In [ ]:
3

In [83]:
dfTrades.loc[(dfTrades.Native_country == 'United-States')].Fnlwgt.count() / dfTrades.shape[0]

0.895857006848684

In [ ]:
4

In [ ]:
5

In [104]:
data1= []
param = dfTrades.loc[(dfTrades.Marital_status == 'Divorced')].Fnlwgt
for i in param:
    data1.append({'Mean deviation': param.std() - i, 'Standard deviation': param.mean() - i})
df1 = pd.DataFrame(data1)
df1

      Mean deviation  Standard deviation
0     -109999.210541       -29843.209543
1     -186528.210541      -106372.209543
2       -3368.210541        76787.790457
3     -261613.210541      -181457.209543
4     -281293.210541      -201137.209543
5      -22707.210541        57448.790457
6     -145938.210541       -65782.209543
7       -4185.210541        75970.790457
8          48.789459        80204.790457
9      -77528.210541         2627.790457
10    -237944.210541      -157788.209543
11    -240606.210541      -160450.209543
12    -181083.210541      -100927.209543
13    -106916.210541       -26760.209543
14     -65448.210541        14707.790457
15    -260092.210541      -179936.209543
16     -40548.210541        39607.790457
17     -69015.210541        11140.790457
18     -80362.210541         -206.209543
19    -147256.210541       -67100.209543
20     -85888.210541        -5732.209543
21      67329.789459       147485.790457
22      27272.789459       107428.790457
23    -101510.210541       -21354.209543
24      -8933.210541        71222.790457
25     -37482.210541        42673.790457
26     -29458.210541        50697.790457
27     -49575.210541        30580.790457
28       6272.789459        86428.790457
29      57435.789459       137591.790457
...              ...                 ...
4413  -274312.210541      -194156.209543
4414   -43973.210541        36182.790457
4415    21904.789459       102060.790457
4416   -56303.210541        23852.790457
4417  -101231.210541       -21075.209543
4418   -97687.210541       -17531.209543
4419  -168855.210541       -88699.209543
4420  -102421.210541       -22265.209543
4421  -152286.210541       -72130.209543
4422  -380063.210541      -299907.209543
4423   -80000.210541          155.790457
4424   -54820.210541        25335.790457
4425    -9001.210541        71154.790457
4426  -162436.210541       -82280.209543
4427   -28505.210541        51650.790457
4428    42567.789459       122723.790457
4429  -111950.210541       -31794.209543
4430  -276248.210541      -196092.209543
4431    45079.789459       125235.790457
4432  -102983.210541       -22827.209543
4433   -49446.210541        30709.790457
4434   -70528.210541         9627.790457
4435    28380.789459       108536.790457
4436   -14831.210541        65324.790457
4437   -73490.210541         6665.790457
4438   -33533.210541        46622.790457
4439   -13552.210541        66603.790457
4440   -94008.210541       -13852.209543
4441   -92569.210541       -12413.209543
4442  -150188.210541       -70032.209543

[4443 rows x 2 columns]

In [105]:
6

6

In [115]:
if dfTrades.loc[(dfTrades.Param == '>50K') & (dfTrades.Education == 'HS-grad')].Param.count() / dfTrades.loc[(dfTrades.Param == '>50K') & (dfTrades.Education != 'HS-grad')].Param.count() > 0.5:
    print(True)
else:
    print(False)

False

In [ ]:
7

In [160]:
data2 = []
Races = set(dfTrades.Race)
for race in Races:
    data2.append({'Rase': race, 'Max_age_male': dfTrades.loc[(race == dfTrades.Race) & (dfTrades.Sex == 'Male')].Age.max(), 'Max_age_female':dfTrades.loc[(race == dfTrades.Race) & (dfTrades.Sex == 'Female')].Age.max()})

df_2 = pd.DataFrame(data2)
df_2

   Max_age_female  Max_age_male                Rase
0              74            77               Other
1              90            90               Black
2              80            82  Amer-Indian-Eskimo
3              75            90  Asian-Pac-Islander
4              90            90               White

In [ ]:
8

In [192]:
d = set(dfTrades.Native_country)
data3 = []
for country in d:
    data3.append({'Country': pd.DataFrame(dfTrades.loc[(dfTrades.Occupation == 'Farming-fishing')].Native_country)})
df_3 = pd.DataFrame(data3)
df_3.drop_duplicates(cubset=['Country'],keep=False)

TypeError: drop_duplicates() got an unexpected keyword argument 'cubset'